{% extends 'base.html' %}

{% block head %}
<title>Post</title>
{% endblock %}

{% block body %}
<hr/>
<h3>Post Form</h3>
<form id="post-form" action="/posts" method="POST">
    <div>
        <label for="title">Title : </label>
        <input type="text" id="title" name="title">
    </div>
    <div>
        <label for="content">Content : </label>
        <input type="text" id="content" name="content">
    </div>
    <div>
        <input type="submit" value="Save">
    </div>
</form>
<hr/>

<h1>All Posts</h1>

    {% for post in posts %}
        <div>
            <h3>{{ post.title }}</h3>
            <small>
                {% if post.author %}
                    Author: {{ post.author }}
                {% else %}
                    Author: Uknown
                {% endif %}
            </small>
            <p>{{ post.content }}</p>
            <a href="#" id="edit-btn" onClick="editPost('{{post.id}}')">
                Edit
            </a>
            - or -
            <a href="/post/delete/{{ post.id }}">Delete</a>
        </div>
        <hr/>
    {% endfor %}

{% endblock %}